.App {
  text-align: center;
  margin: 50px;
  margin-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hwb(220 64% 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color:#708090;
  color: #3C3F43;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;

}

nav a{
  margin: 0 2rem;
  color: #55b5d2;

}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  outline: none;
  color:SlateGray;
  visibility: hidden;
  opacity: 0;
  font: size 1.8rem; ;
}

@media only screen and (max-width:710px){

  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    background-color: rgb(31, 31, 134);
    transition: 1s;
    transform: translate(-100vh);
  }

  header .responsive_nav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
  }

}

.productItem{
  padding: 60px;
  justify-content: center;
  align-items: center;
  width: 33%;
  display: flex;
  
}

.card1{
  display: flex;
  flex-wrap: wrap;
}

.mb-2{
  color: black;
}

.cardname{
  text-align: center;
  color: black;
}

.main{
  background-color:#dbdfe7 ;
  padding-top: 70px;
  flex-grow: 1;

}
/* .home
{
  background-color:#dbdfe7 ;
  padding-top: 70px;
  flex-grow: 1;
  
} */

.card{
  background-color:#989EA9;
}

.emailCard{
  padding: 12px;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 20px;
  color: #566279;
  background: #d2d9e7;
  
}
.emailCardBody{
 padding: 30px;
 padding-left: 160px;
}

.table{
  padding: 20px;
  width: auto;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.headertable{
  text-align: center;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 50px;
  padding: 0 2rem;
  background-color:#c1ccde;
  color: #3C3F43;
}
.errorHeader{
 
  margin-bottom: 10px;
  justify-content: space-between;
  height: 50px;
  padding: 0 2rem;
  background-color:#c1ccde;
  color: #3C3F43;
  
}



.headertable h2{
  margin: auto;
}

/* card.............................................. */

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.card img {
  width: 100%;
  object-fit: cover;
}

/* contain.......................... */
.contain{
  margin: 30px;
  color: #566279;
  text-shadow: #050f1b;

}
.containparagraph{
  margin: 30px;
  color: #566279;
  text-shadow: #050f1b;
  text-decoration-style: dotted;
  word-spacing: 10px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-indent: 30px;
  text-align: justify;
}

.iconHeader{
 margin-left: 100px;
}

h4{
  margin: 30px;
  color: #566279;
  text-shadow: #050f1b;
}

h3{
  margin: 30px;
  color: #566279;
  text-shadow: #050f1b;
}

.auto{
  color: white;
}

.row{
  width: 100%;
  height: 500px;
}

.addform{
  
  padding: 10px;
  background-color:#c1ccde;
}

.formCard  :hover{
  /* transform: scale(1.03); */
  margin: '60px';
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.addStudentHome{
  width: 100%;
  height: auto;
}

.display{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input:hover::before {
  content: attr(title);
  position: absolute;
  background: #000;
  color: #901717;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}




